body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    background-color: red;
  }

  header {
    background-color: blue;
    position: sticky;
  }

  footer {
    background-color: blue;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
  }

  h1 {
      text-align: center;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  .social-media p {
    font-size: 16px;
    margin: 10px;
  }

  .pokedex {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .list-button {
    background-color: yellow;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    width: 10em;
  }

.pokemon-list {
  list-style-type: none;
}

